In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('car_ownership_income_dataset.csv')
df.head()

   Monthly_Income_USD  Owns_Car
0             3309.05         0
1             7630.36         1
2             5989.95         1
3             4989.94         1
4             1670.14         0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X = df[['Owns_Car']]
y=df['Owns_Car']

X_train, X_test, y_train, y_test=train_test_split(X, y, random_state=42, train_size=0.2)
model = LogisticRegression()
model.fit(X_train, X_test)